{% extends 'shop/base.html' %}

{% block title %}Контакти | VeloParts{% endblock %}

{% block content %}
<div class="cart-wrapper">
    <h1 class="section-title">Наші контакти</h1>
    <div style="font-size: 16px;">
        <p>Ми завжди раді допомогти вам з вибором запчастин!</p>
        <br>
        <p>📞 <strong>Телефон:</strong> 0 (99) 646-18-61</p>
        <p>📍 <strong>Адреса:</strong> м. Луцьк, вул. Соборності, 14</p>
        <p>✉️ <strong>Email:</strong> support@veloparts.com</p>
        <br>
        <p><strong>Графік роботи:</strong></p>
        <p>Пн-Пт: 09:00 — 18:00</p>
        <p>Сб-Нд: 10:00 — 16:00</p>
    </div>
</div>
{% endblock %}